.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gallery-title {
    text-align: center;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .video-title {
    text-align: center;
    margin-top: 10px;
  }
  